body {
    background-image: url(http://kmandla.files.wordpress.com/2010/08/2010-08-04-lv-a8280-win2k-arch.jpg);
    background-size: 100%
}

#canvas {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
font.text1{
    font-family: Courier;  
    color: white;
    position: absolute;
    top: 775px;
}
font.underheader{
    font-family:Courier;
    color:white;
    position: absolute;
    top: 420px;
    left: 755px;
}