body {
    background-color: #3B6EA5;
}

#canvas {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
font.text1{
    font-family: Courier;  
    color: white;
    position: absolute;
    top: 775px;
}
font.underheader{
    font-family:Courier;
    color:white;
    position: absolute;
    top: 420px;
    left: 590px;
}